.subtitle {
  color: blue;
  font-size: 26px;
}

.message {
  font-size: 25px;
  padding: 10px;
  border: 5px solid;
  background-color: bisque;
}

.notificationArea {
  margin-top: 10px;
  height: 40px;
}

.appLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.appLink:hover {
  text-decoration: underline;
}

.blogLink {
  text-decoration: none;
  color: black;
}
.blogLink:hover {
  text-decoration: underline;
}

span {
  font-size: large;
}

.loginForm {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center ;
  gap: 10px
}


